SECRET_KEY=
DEBUG=True

# Database Configuration (Optional: If omitted, local SQLite 'db.sqlite3' will be used)
# DB_NAME=ainnova_db
# DB_USER=postgres
# DB_PASSWORD=your_password
# DB_HOST=127.0.0.1
# DB_PORT=5432

GEMINI_MODEL=gemini-3.1-flash-lite

GEMINI_IMAGE_MODEL=gemini-2.5-flash-image
GENERATED_IMAGE_DIR=generated_images
GEMINI_API_KEY=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=